node_modules/
public/audio/tts/
.env
google-tts-key.json
dist/
*.log
.vscode/
.idea/
*.swp
server/config/
server/config/MailjetMailer.php
server/config/settings.php
server/config/database.php
*.MailerJetMailer.php
*.settings.php
*.database.php